<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/items-styles.css" />
  </head>
  <body>
    <section>
      <div class="pop-wrapper">
        <div class="exit">
          <div class="exit-space"></div>
          <div class="exit-symbol">X</div>
        </div>
        <div class="product-portfolio">
          <div class="product-pics first">
            <div class="pic-prev arrow">&lt;</div>
            <div class="pics">
              <div class="main-pic">
                <img src="../assets/product-img.png" alt="" srcset="" />
              </div>
              <div class="sec-pic">
                <img src="../assets/product-img.png" alt="" srcset="" />
                <img src="../assets/product-img.png" alt="" srcset="" />
                <img src="../assets/product-img.png" alt="" srcset="" />
                <img src="../assets/product-img.png" alt="" srcset="" />
              </div>
            </div>
            <div class="pic-next arrow">&gt;</div>
          </div>
          <div class="product-illustration">
            <img
              src="../assets/bobby-flint-blueprint-william-302-zanotta-removebg-preview.png"
              alt=""
              id="ill"
            />
          </div>
        </div>
        <div class="ill-holder">
          <div class="see-illustration">
            Tap to see illustration
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e8eaed"
              >
                <path
                  d="M200-120q-17 0-28.5-11.5T160-160v-40q-50 0-85-35t-35-85v-200q0-50 35-85t85-35v-80q0-50 35-85t85-35h400q50 0 85 35t35 85v80q50 0 85 35t35 85v200q0 50-35 85t-85 35v40q0 17-11.5 28.5T760-120q-17 0-28.5-11.5T720-160v-40H240v40q0 17-11.5 28.5T200-120Zm-40-160h640q17 0 28.5-11.5T840-320v-200q0-17-11.5-28.5T800-560q-17 0-28.5 11.5T760-520v160H200v-160q0-17-11.5-28.5T160-560q-17 0-28.5 11.5T120-520v200q0 17 11.5 28.5T160-280Zm120-160h400v-80q0-27 11-49t29-39v-112q0-17-11.5-28.5T680-760H280q-17 0-28.5 11.5T240-720v112q18 17 29 39t11 49v80Zm200 0Zm0 160Zm0-80Z"
                />
              </svg>
            </span>
          </div>
        </div>
        <div class="product-details">
          <div class="main-descript first-descript">
            The Reid lift coffee table combines mid-century style with
            convenient function. Made from a solid acacia wood in warm, brown
            finish. Keep it flat for TV viewing, or raise it up while you’re
            working or eating meals in the living room. Inside storage is
            perfect for holding remotes, magazines, and more.
          </div>
          <div class="main-details">
            <div class="main-title first-title">
              Areni 57.1" Upholestered Loveseat
            </div>
            <div class="rating">
              <div class="stars">
                <img src="../assets/Shape.png" alt="" srcset="" />
                <img src="../assets/Shape.png" alt="" srcset="" />
                <img src="../assets/Shape.png" alt="" srcset="" />
                <img src="../assets/Shape.png" alt="" srcset="" />
                <img src="../assets/Shape.png" alt="" srcset="" />
              </div>
              <span class="review-num">3214</span>
            </div>
            <div class="price">
              92,000.00 birrs
            </div>
            <div class="last-details">
              <div class="color-options">
                <div class="color-title">
                  colors
                </div>
                <div class="colors">
                  <div class="color A"></div>
                  <div class="color B"></div>
                </div>
              </div>
              <div class="quantity-needed">
                <div class="quantity-title">
                  Quantity
                </div>
                <div class="quantity-num">
                  <div class="choose-quantity">
                    <div class="minus">
                      -
                    </div>
                    <div class="num">
                      1
                    </div>
                    <div class="plus">
                      +
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="addtoCart">
                <div class="cart-btn">
                  <button>Add to cart</button>
                </div>
                <div class="cart-sym">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#cb6001"
                  >
                    <path
                      d="M240-200q-50 0-85-35t-35-85H40v-360q0-33 23.5-56.5T120-760h560l240 240v200h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85H360q0 50-35 85t-85 35Zm360-360h160L640-680h-40v120Zm-240 0h160v-120H360v120Zm-240 0h160v-120H120v120Zm120 290q21 0 35.5-14.5T290-320q0-21-14.5-35.5T240-370q-21 0-35.5 14.5T190-320q0 21 14.5 35.5T240-270Zm480 0q21 0 35.5-14.5T770-320q0-21-14.5-35.5T720-370q-21 0-35.5 14.5T670-320q0 21 14.5 35.5T720-270ZM120-400h32q17-18 39-29t49-11q27 0 49 11t39 29h304q17-18 39-29t49-11q27 0 49 11t39 29h32v-80H120v80Zm720-80H120h720Z"
                    />
                  </svg>
                </div>
              </div>
              <div class="order">
                Order
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="note">
          //here should be the complimentary items
        </div> -->
        <div class="similar-items">
          <div class="similar-title">
            Shop similar items
          </div>
          <div class="similars">
            <div class="hidden-title">Areni 57.1" Upholestered Loveseat</div>

            <div class="similars-flex">
              <div class="product-pics">
                <div class="pic-prev arrow">&lt;</div>
                <div class="pics">
                  <div class="main-pic" id="last">
                    <img src="../assets/product-img.png" alt="" srcset="" />
                  </div>
                  <div class="sec-pic" id="last-secs">
                    <img src="../assets/product-img.png" alt="" srcset="" />
                    <img src="../assets/product-img.png" alt="" srcset="" />
                    <img src="../assets/product-img.png" alt="" srcset="" />
                    <img src="../assets/product-img.png" alt="" srcset="" />
                  </div>
                </div>
                <div class="pic-next arrow">&gt;</div>
              </div>
              <div class="similar-details">
                <div class="detail-title main-title">
                  Areni 57.1" Upholestered Loveseat
                </div>
                <div class="detail-descript">
                  The Reid lift coffee table combines mid-century style with
                  convenient function. Made from a solid acacia wood in warm,
                  brown finish. Keep it flat for TV viewing, or raise it.
                </div>
                <div class="priceanddetails">
                  <div class="details-price">8500 birrs</div>
                  <div class="details-detail">
                    <div class="tobenone">More details</div>
                    <svg
                      class="arr-left"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24px"
                      viewBox="0 -960 960 960"
                      width="44px"
                      fill="#D9843A"
                    >
                      <path
                        d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
                      />
                    </svg>
                  </div>
                </div>
                <div class="details-buttons last-buttons">
                  <div class="cart-btn">
                    <button>Add to cart</button>
                  </div>
                  <div class="order">
                    Order
                  </div>
                </div>
              </div>
            </div>
            <div class="details-holder">
              <div class="hidden-details details-buttons last-buttons">
                <div class="cart-btn">
                  <button>Add to cart</button>
                </div>
                <div class="order">
                  Order
                </div>
              </div>
            </div>
          </div>
          <div class="similars">
            <div class="hidden-title">Areni 57.1" Upholestered Loveseat</div>
            <div class="similars-flex">
              <div class="product-pics">
                <div class="pic-prev arrow">&lt;</div>
                <div class="pics">
                  <div class="main-pic" id="last">
                    <img src="../assets/product-img.png" alt="" srcset="" />
                  </div>
                  <div class="sec-pic" id="last-secs">
                    <img src="../assets/product-img.png" alt="" srcset="" />
                    <img src="../assets/product-img.png" alt="" srcset="" />
                    <img src="../assets/product-img.png" alt="" srcset="" />
                    <img src="../assets/product-img.png" alt="" srcset="" />
                  </div>
                </div>
                <div class="pic-next arrow">&gt;</div>
              </div>
              <div class="similar-details">
                <div class="detail-title main-title">
                  Areni 57.1" Upholestered Loveseat
                </div>
                <div class="detail-descript">
                  The Reid lift coffee table combines mid-century style with
                  convenient function. Made from a solid acacia wood in warm,
                  brown finish.
                </div>
                <div class="priceanddetails">
                  <div class="details-price">8500 birrs</div>
                  <div class="details-detail">
                    <div class="tobenone">More details</div>
                    <svg
                      class="arr-left"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24px"
                      viewBox="0 -960 960 960"
                      width="44px"
                      fill="#D9843A"
                    >
                      <path
                        d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
                      />
                    </svg>
                  </div>
                </div>
                <div class="details-buttons last-buttons">
                  <div class="cart-btn">
                    <button>Add to cart</button>
                  </div>
                  <div class="order">
                    Order
                  </div>
                </div>
              </div>
            </div>
            <div class="details-holder">
              <div class="hidden-details details-buttons last-buttons">
                <div class="cart-btn">
                  <button>Add to cart</button>
                </div>
                <div class="order">
                  Order
                </div>
              </div>
            </div>
          </div>
          <div class="similars">
            <div class="hidden-title">Areni 57.1" Upholestered Loveseat</div>
            <div class="similars-flex">
              <div class="product-pics">
                <div class="pic-prev arrow">&lt;</div>
                <div class="pics">
                  <div class="main-pic" id="last">
                    <img src="../assets/product-img.png" alt="" srcset="" />
                  </div>
                  <div class="sec-pic" id="last-secs">
                    <img src="../assets/product-img.png" alt="" srcset="" />
                    <img src="../assets/product-img.png" alt="" srcset="" />
                    <img src="../assets/product-img.png" alt="" srcset="" />
                    <img src="../assets/product-img.png" alt="" srcset="" />
                  </div>
                </div>
                <div class="pic-next arrow">&gt;</div>
              </div>
              <div class="similar-details">
                <div class="detail-title main-title">
                  Areni 57.1" Upholestered
                </div>
                <div class="detail-descript">
                  The Reid lift coffee table combines mid-century style with
                  convenient function. Made from a solid acacia wood in warm,
                  brown finish.
                </div>
                <div class="priceanddetails">
                  <div class="details-price">8500 birrs</div>
                  <div class="details-detail">
                    <div class="tobenone">More details</div>
                    <svg
                      class="arr-left"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24px"
                      viewBox="0 -960 960 960"
                      width="44px"
                      fill="#D9843A"
                    >
                      <path
                        d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
                      />
                    </svg>
                  </div>
                </div>
                <div class="details-buttons last-buttons">
                  <div class="cart-btn">
                    <button>Add to cart</button>
                  </div>
                  <div class="order">
                    Order
                  </div>
                </div>
              </div>
            </div>
            <div class="details-holder">
              <div class="hidden-details details-buttons last-buttons">
                <div class="cart-btn">
                  <button>Add to cart</button>
                </div>
                <div class="order">
                  Order
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="../JS/main.js"></script>
  </body>
</html>
